<h1>Search Results</h1>
<% if @search_results.any? %>
  <ul>
    <% @search_results.each do |album| %>
      <li><%= album.title %></li>
    <% end %>
  </ul>
<% else %>
  <p>No albums found.</p>
<% end %>
